body {
  margin: 0;
  font-family: 'Gill Sans', 'Century Gothic', sans-serif;
}

h1,
h3, {
  font-family: 'Georgia', 'Palatino', serif;
}

h3,
h4{
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.fa-twitter {
  color: $color-cornflower-blue;
  font-size: 25px;
  margin-right: 15px;
}

.fa-facebook-f {
  color: $color-chambray;
  font-size: 25px;
  margin-right: 15px;
}

.fa-instagram {
  color: $color-horizon;
  font-size: 25px;
}
