@media screen and (min-width:320px) {
    .national{

      &__header {
        padding: 0 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
      }

      &__header__nav-menu {
      display: flex;
      justify-content: space-between;
      }

      &__header__nav-menu__img {
        width: 30%;
        height: 80%;
      }

      &__header__nav-menu__icon {
        font-size: 20px;
        line-height: 50px;
      }

      &__header ul {
        display: none;
      }

      &__container {
        @include container-padding(0 10px)
      }

      &__headings {
        margin: 50px 0 30px;
      }

      &__heading__main,
      &__heading__second {
        letter-spacing: .4em;
        text-transform: uppercase;
      }

      &__heading__main {
        font-size: 25px;
      }

      &__heading__second {
        margin: 40px 0 20px;
      }

      &__links {
        @include anchor;
      }

      &__item p {
        border-left: 1px solid rgba(0, 0, 0, 0.5);
        padding-left: 5px;
      }

      &__cameras {
        @include width-images;
        display: block;
      }

      &__item__text-container h4 {
        font-weight: bolder;
      }

      &__moon {
        @include width-images;
        display: block;
      }

      &__show-more-button {
        width: 100%;
        padding: 5px;
        background-color: $color-sunglow;
        border: 3px solid black;
        font-size: 12px;
        text-transform: uppercase;
        cursor: pointer;
      }

      &__last-picture {
        margin-top: 30px;
      }

      &__last-picture h3 {
        letter-spacing: .4em;
        text-transform: uppercase;
        margin-bottom: 20px;
      }

      &__last-image {
        width: 80%;
        display: block;
        margin: 30px 0 0 35px;
      }

      &__bottom {
        background-color: $color-mine-shaft;
        margin-top: 20px;
        color: white;
        text-align: center;
        padding: 15px 0 40px 0;
      }

      &__bottom__social-media p:first-of-type,
      &__bottom__community p:first-of-type,
      &__bottom__archives p:first-of-type,
      &__bottom__picture-stories p:first-of-type {
        text-transform: uppercase;
        font-size: 20px;
      }

      &__bottom__social-media,
      &__bottom__community,
      &__bottom__archives {
        margin-bottom: 100px;
      }

      &__bottom a {
        color: white;
        border-bottom: 3px solid $color-sunglow;
      }

      &__footer {
        background-color: $color-silver-chalice;
        padding: 20px 0 20px 10px;
      }

      &__footer p {
        margin: 0;
        font-size: 25px;
      }

      &__footer p:first-of-type{
        margin-bottom: 5px;
      }

      &__footer button {
        padding: 2px 5px;
        background-color: $color-sunglow;
        text-transform: uppercase;
        cursor: pointer;
      }

      &__footer p:last-of-type{
        margin-top: 25px;
      }
    }
}
